.home-posts{
    &__item{
        display: grid;
        gap: var(--gap);
        padding: var(--gap);
        border: 1px solid $border;

        @media (max-width: $mq-mobile) {
            border: none;
        }
    }

    &__media{
        width: 100%;
        height: 100%;
        margin-left: calc(var(--gap) * -1);
        margin-right: calc(var(--gap) * -1);
    }

    &__element{

        &-image{
            max-width: calc(100% + var(--gap) * 2);
        }
    }
}
