.search-form{
    width: 100%;
    position: relative;

    @media (max-width: $mq-mobile) { display: none; }

    &__input{
        width: 100%;
        height: 36px;
        padding: 0 calc(var(--gap)*.75);
        background-color: $input;
        outline: none;
    }
    &__link{
        position: absolute;
        top: 50%;
        right: calc(var(--gap)/2);
        transform: translateY(-50%);
        cursor: pointer;
    }
        &__svg{
            width: 15px;
            height: 15px;
            stroke: $gray;
        }
}