.media-element{
    @include flex(flex, center, center, row, nowrap);
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;

    &__image{
        position: absolute;
        width: 100%;
        max-width: 100%;
    }
}